<urisconfig>

<releaseversion>2005AC</releaseversion>
<releasetype>full</releasetype>
<releaseformat>RRF</releaseformat>
<description>2005AC Release</description>
<run>yes</run>
<force>yes</force>
<previousversion>2005AB</previousversion>

<!-- default for all hosts -->
<outputdir>/umls_prod/URIS_Root/uris2005AC</outputdir>
<releasetopdir>/umls_prod/DVDInstall_Root/2005AC</releasetopdir>
<netdir>/umls_prod/DVDInstall_Root/NET</netdir>

<cpu>2</cpu>
<tmpdir>/tmp</tmpdir>

<!-- commands will be run in parallel on these machines -->
<host name="cruciate" cpu="2"></host>
<host name="chin" cpu="2"></host>

<script>
<name>official</name>
<description>Produces some official counts for the UMLS Metathesaurus</description>
<inputformat>RRF</inputformat>
<command>/umls_l/uris/bin/official-generator.pl -d $metadir -v $releaseversion</command>
</script>

<script>
<name>sortcheck</name>
<description>Checks to see if Metathesaurus files are sorted and unique (no duplicate rows)</description>
<inputformat>MR</inputformat>
<command>/umls_l/uris/bin/sortcheck.pl</command>
<input type="file">*</input>
<cpu>4</cpu>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>atuicheck</name>
<description>Are all ATUIs unique across files?</description>
<inputformat>RRF</inputformat>
<command>/umls_l/uris/bin/atuicheck.pl -m $metadir</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>suppress</name>
<description>Are atoms for suppressible term types in MRRANK suppressible in MRCONSO?</description>
<inputformat>RRF</inputformat>
<command>/umls_l/uris/bin/suppress.pl -d $metadir -v $releaseversion</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>sabcheck</name>
<description>Verifies data in MRSAB.  1) All SAB values in all files should come from MRSAB, 2) SRLs in MRCONSO should match that in MRSAB, 3) RCUI and VCUI should be present in MRCONSO</description>
<inputformat>RRF</inputformat>
<command>/umls_l/uris/bin/sabcheck.pl -d $metadir</command>
</script>

<script>
<name>uiqa</name>
<description>Verifies UI integrity, e.g., are all CUIs, AUIs in MRCONSO/MRSO?</description>
<command>/umls_l/uris/bin/uiqa.pl -d $metadir</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>sui-maintenance</name>
<description>Checks to see if identical strings have the same SUI across versions</description>
<command>/umls_l/uris/bin/sui-maintenance.pl -t /umls_prod/DVDInstall_Root -a $previousversion -b $releaseversion</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>aui-maintenance</name>
<description>Checks to see if "identical" atoms (currently defined as identical STR/SAB/TTY) have the same AUI across versions</description>
<command>/umls_l/uris/bin/aui-maintenance.pl -t /umls_prod/DVDInstall_Root -a $previousversion -b $releaseversion</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>rui-maintenance</name>
<description>Checks to see if identical RUIs have the content across versions</description>
<command>/umls_l/uris/bin/rui-maintenance.pl -t /umls_prod/DVDInstall_Root -a $previousversion -b $releaseversion</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>atui-maintenance</name>
<description>Checks to see if identical ATUIs have the same SAB/CODE/ATV/ATN across versions</description>
<command>/umls_l/uris/bin/atui-maintenance.pl -t /umls_prod/DVDInstall_Root -a $previousversion -b $releaseversion</command>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>bytefreq</name>
<description>Frequency of bytes in each file</description>
<inputformat>MR</inputformat>
<command>/umls_l/uris/bin/bytefreq.pl</command>
<input type="file">*</input>
<outputformat>perldata</outputformat>
<cpu>4</cpu>
<run>yes</run>
</script>

<script>
<name>groupingstats</name>
<description>Collects counts for column groups for Oracle and MySQL</description>
<command>/umls_l/uris/bin/groupingstats.pl -d $metadir -v $releaseversion</command>
<input type="file">*</input>
<cpu>4</cpu>
<appendstdout>yes</appendstdout>
<preformatstdout>yes</preformatstdout>
<run>yes</run>
</script>

<script>
<name>verify-mrfiles</name>
<description>Verify data in MRFILES: correct column, row and byte counts</description>
<command>/umls_l/uris/bin/verify-mrfiles.pl -d $metadir</command>
<input type="file">*</input>
<cpu>2</cpu>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>verify-mrcols</name>
<description>Verifies data in MRCOLS.MRP: correct min, max and avg</description>
<command>/umls_l/uris/bin/verify-mrcols.pl -d $metadir</command>
<input type="file">*</input>
<cpu>2</cpu>
<run>yes</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>line-termination-unix</name>
<description>Checks files for UNIX line termination</description>
<command>/umls_l/uris/bin/line-termination.pl -l unix</command>
<input type="file">*</input>
<cpu>5</cpu>
<run>no</run>
<preformatstdout>yes</preformatstdout>
</script>

<script>
<name>stycheck</name>
<description>Checks to see if all concepts have STYs and concepts with STYs have names</description>
<command>/umls_l/uris/bin/stycheck.pl -d $metadir</command>
</script>

<script>
<name>styfromnet</name>
<description>Do concept STYs all come from the Semantic Network?</description>
<command>/umls_l/uris/bin/styfromnet.pl -m $metadir -n $netdir</command>
</script>

<script>
<name>colstats</name>
<description>Compute length statistics for each column in each file</description>
<input type="file">*</input>
<command>/umls_l/uris/bin/colstats.pl -d $metadir</command>
<outputformat>perldata</outputformat>
</script>

<script>
<name>charfreq</name>
<description>Counts of Unicode characters in each file</description>
<input type="file">*</input>
<command>/umls_l/uris/bin/charfreq.pl</command>
<outputformat>perldata</outputformat>
<run>yes</run>
</script>

</urisconfig>
