# Java properties file giving config for dumping NCI Thesaurus OWL file into
# TREF format

# URI of OWL input
inputURI=file:Thesaurus.owl

# stuff "SABTTY" into MRCONSO's TTY field, e.g. "NCIPT"
MRCONSO.name=MRCONSO
MRREL.name=MRREL
MRSAT.name=MRSAT

MRCONSO.fields=AUI|STR|CUI|DUI|SAB_TTY
MRREL.fields=RUI|UI1|STYPE1|REL|RELA|UI2|STYPE2
MRSAT.fields=ATUI|UI|STYPE|ATN|ATV
#MRSAB.fields=SON|SVER|SLC|SCC|SCIT|LAT|CENC|RELDIR|CODEUI
#MRDOC.fields=DOCKEY|VALUE|TYPE|EXPL

MRCONSO.1.key=FULL_SYN
MRCONSO.1.CUI=field|code
MRCONSO.1.STR_TTY_SAB=regexp|FULL_SYN|^<term-name>(.*)</term-name><term-group>(.*)</term-group><term-source>(.*)</term-source>

MRSAT.1.key=DEFINITION
MRSAT.1.UI=field|code
MRSAT.1.STYPE=const|CUI
MRSAT.1.ATN=const|DEFINITION
MRSAT.1.ATV=regexp|DEFINITION|^<def-source>.*</def-source><def-definition>(.*)</def-definition>

MRSAT.2.key=LONG_DEFINITION
MRSAT.2.UI=field|code
MRSAT.2.STYPE=const|CUI
MRSAT.2.ATN=const|LONG_DEFINITION
MRSAT.2.ATV=regexp|LONG_DEFINITION|^<def-source>.*</def-source><def-definition>(.*)</def-definition>

MRSAT.3.key=ALT_DEFINITION,ALT_LONG_DEFINITION,GO_Annotation,NCI_META_CUI,UMLS_CUI,Preferred_Name,Display_Name,Semantic_Type,Subsource,Contributing_Source,FDA_UNII_Code,OMIM_Number,CAS_Registry,PDQ_Closed_Trial_Search_ID,PDQ_Open_Trial_Search_ID,Locus_ID,DesignNote,NSC_Code,FDA_Table,Gene_Encodes_Product,GenBank_Accession_Number,EntrezGene_ID,Swiss_Prot,In_Clinical_Trial_For,ICD-O-3_Code,Unit,Chemical_Formula,Image_Link,Accepted_Therapeutic_Use_For,INFOODS,NCBI_Taxon_ID,Maps_To_LASH,PubMedID_Primary_Reference,Use_For,BioCarta_ID,USDA_ID,NDFRT_Name,Homologous_Gene,NDFRT_Code,MGI_Accession_ID,KEGG_ID,Nutrient,US_Recommended_Intake,Mitelman_Code,Micronutrient,Macronutrient,Tolerable_Level,Related_Lash_Concept,Essential_Fatty_Acid,SNP_ID,Essential_Amino_Acid,OID,Related_MedDRA_Code,Relative_Enzyme_Activity
MRSAT.3.UI=field|code
MRSAT.3.STYPE=const|CUI
MRSAT.3.ATN=const|*key
MRSAT.3.ATV=field|*key

MRREL.1.key=*superclasses
MRREL.1.UI1=superclassfield|code
MRREL.1.STYPE1=const|CUI
MRREL.1.REL=const|CHD
MRREL.1.RELA=const|isa
MRREL.1.UI2=field|code
MRREL.1.STYPE2=const|CUI

# invert ObjectProperties as relationships
MRREL.2.key=Concept_In_Subset,Has_Free_Acid_Or_Base_Form,Has_Salt_Form,Has_Target,Is_Related_To_Endogenous_Product,Qualifier_Applies_To,Role_Has_Domain,Role_Has_Parent,Role_Has_Range
MRREL.2.UI1=targetfield|code
MRREL.2.STYPE1=const|CUI
MRREL.2.REL=const|RO
MRREL.2.RELA=const|*key
MRREL.2.UI2=field|code
MRREL.2.STYPE2=const|CUI
