    BODY { background-color: #FFFFFF; }
    TH { background-color: #FFFFCC; }
    TD { vertical-align: top; }
    INPUT { vertical-align: top; }
    INPUT.SPECIAL { background-color: #0000A0;
		   color: #FFFFFF; }
    INPUT.EXIT { background-color: #000000;
	         color: #FFFFFF; }
    INPUT.NORMAL { background-color: #A0A0A0;
		   color: #FFFFFF; }

    #red { color: #A00000; font: 150% Palatino, sans-serif; }
    #blue { color: #0000A0; font: bold 150% Palatino, serif; }
    #error { color: #A00000; font: 100% Palatino, sans-serif, bold; }
    #errorsHeader { color: red; font-weight: bold; font-size: 14pt; }
    #nodiff { color: #0000A0; font: bold }

    .red { color: #A00000; font: 150% Palatino, sans-serif; }
    .blue { color: #0000A0; font: bold 150% Palatino, serif; }
    .error { color: #A00000; font: 100% Palatino, sans-serif, bold; }
    .nodiff { color: #0000A0; font: bold }

    .affirmative { color: #0000A0; font: 150% Palatino, serif; }
    .negative { color: #A00000; font: 150% Palatino, serif; }
    .status { color: #000000; font: 150% Palatino, serif; }

    ADDRESS  { font: italic 100% Palatino, Ariel, serif; }

    .clearrow { cursor: pointer; }
    .unchecked {background-color: #FFFFFC; cursor:default;}
    .checked {background-color: #EEF3FB; color: #FFFFFF; cursor:default;}
    .selected {background-color: #0066CC; color: #FFFFFF; cursor:default;}
    .gray_banner { background-color: #CCCCCC; color: #000000; font-size: 24pt }
    .green_banner { background-color: #CCFF99; color: #000000; font-size: 24pt }
    .orange_banner { background-color: #FFCC99; color: #000000; font-size: 24pt }
