# Configuration for AH bins
# suresh@nlm.nih.gov 02/2000

# Fields are:
# AH Bin|Description|generator_script|order_script|contents|chem_algo|track history
# (see also contents of ems_canonical_bin)

# AH Bin: the name of bin, e.g., missyn, etc
# Description: a short description for the bin
# generator_script: the name of the script that generates the
#    concept clusters for this bin
# order_script: the name of the script that generates ordered
#    concept clusters for this bin from ems_ah_bins
# contents: chemicals (C), non-chemicals (N), mixed (M)
# chem_algo: All concepts in a cluster are chemicals (A, default), one or more (O)
# track history: Should history be tracked for this bin globally (G), i.e., across
#	all years, epochs; locally (L) across just the current epoch, or N never.

missyn|Potential missed synonymy using different algorithms|missyn.generator.pl||M|A|G
lvg_sepstr|Identical (per LVG flow -fguol) but separated releasable strings|lvg_sepstr.generator.pl||M|A|G
needsrel|Identical releaseable norm strings across concepts that have no relationship|needsrel.generator.pl||M|A|G
needsrelgo|Identical releaseable norm strings across concepts (one has a GO atom) with no relationship|needsrel-go.pl||M|A|G

classification|STY of Classification|stywrd.pl -e 'sty=Classification'||M|A|G|

health_care|STY of health care activity review|stywrd.pl -e 'sty=Health Care Activity'||M|A|G|

SNOMED_big_merges|Big SNOMED merges to review|FILE://d3/rpts/05/halfn.20040819.rpt||M|A|G



sctspa|Spanish SNOMED clustered with its SNOMED SY concepts|sctspa.pl||M|A|G
foreign|Concepts with non-English atoms only (from classes)|foreign-only.pl||M|A|G


#meshnorelstoscd|mesh that isn't related to snomed ct|msh_norel_sct|M|A|G|


chnddfworxnorm|NDDF clinical drugs w/o rxnorm rels|rxnormqa.pl -q 25||C|A|G

mmslworxnorm|MMSL clinical drugs w/o rxnorm rels|rxnormqa.pl -q 22||C|A|G


mth_clone_rels|Multiple sources assert a rel between concepts without an existing C-level rel|MEME_INTEGRITY_PROC.mth_clone_rels||M|A|G
#scd_difflui|SCDs with different LUIs|MEME_INTEGRITY_PROC.scd_difflui||M|A|G
rescue_orphan|Newly orphaned concepts revealed after year-end cleanup|MEME_INTEGRITY_PROC.rescue_orphan||M|A|G


drugdevl|devices that need DDD|stywrd.pl -e 'sty=Medical Device & normword=syringe & normword=prefilled' ||M|A|G|

dissyringe|disposable syringes|stywrd.pl -e 'sty=Medical Device & normword=syringe & normword=disposable' ||M|A|G|

kits|med devices that need DDD|stywrd.pl -e 'sty=Medical Device & normword=kit' ||M|A|G|




pdr|pdr|stywrd.pl -e 'normword=pdr & normword=recon' ||M|A|G|

dressing|med devices that need DDD|stywrd.pl -e 'sty=Medical Device & normword=dressing' ||M|A|G|
padorswab|med devices that need DDD|stywrd.pl -e 'sty=Clinical Drug & normword=pad' ||M|A|G|


doseforms|dose forms NDDF|stywrd.pl -e 'sty=Biomedical or Dental Material & tty=DF' ||M|A|G|

NDDF_Ingredients|ingredients in NDDF|stywrd.pl -e 'sty=Organic Chemical & tty=IN & srcfamily= NDDF'||C|A|G|

preparation|preparations from NDFRT|stywrd.pl -e 'sty=Clinical Drug & tty=INP' ||M|A|G|

units|RXNORM units that need to be reviewed|FILE://d3/rpts/03/badunits.20020819.rpt||M|A|G

HCLs|hydrochlorides from VANDF|stywrd.pl -e 'sty=Pharmacologic Substance & srcfamily=VANDF01 & normword=hydrochloride'||C|A||

Phosphates|phosphates from VANDF|stywrd.pl -e 'sty=Pharmacologic Substance & srcfamily=VANDF01 & normword=phosphate'||C|A||

Bromides|bromides from VANDF|stywrd.pl -e 'sty=Pharmacologic Substance & srcfamily=VANDF01 & normword=bromide'||C|A|| 

Bromidesnddf|bromides from NDDF|stywrd.pl -e 'sty=Pharmacologic Substance & (srcfamily!=VANDF01 & srcfamily=NDDF01) & normword=bromide'||C|A||

HCLMSH|hydrochlorides from oMSL & not VA or NDDF|stywrd.pl -e 'sty=Pharmacologic Substance & (srcfamily!=VANDF01 &  srcfamily!=MSH2002_06_01 & srcfamily!=NDDF01) & normword=hydrochloride'||C|A||

mshger|MeSH German|stywrd.pl -e srcfamily!=MSHGER2005 |||A||


HCLNDDF|hydrochlorides from NDDF & not VA|stywrd.pl -e 'sty=Pharmacologic Substance & (srcfamily!=VANDF01 & srcfamily=NDDF01) & normword=HCL'||C|A||

Sodium|sodium salts from VANDF|stywrd.pl -e 'sty=Pharmacologic Substance & srcfamily=VANDF01 & normword=sodium'||C|A|| 

SodiumNddf|Sodium salts from NDDF|stywrd.pl -e 'sty=Pharmacologic Substance & srcfamily=NDDF01 & normword=sodium & srcfamily!=VANDF01' ||C|A||

msh2002_merge|Check MSH2002 merges|FILE:/d3/rpts/02/msh_merge.20011030.rpt||M|A|G
VANDF_merges|Check VANDF merges|FILE:/d3/rpts/02/VANDF01_merges.dat||M|A|G

mthicdet|For testing MTHICDET|FILE:/d3/rpts/02/mthicd9.20011016.rpt|||A|N

#homeopathic|STY=Plant + homeopathic in string|homeopathic.generator.pl||N||G|

hcpcsdrugs|for mapping hcpcs clin drugs to SCDs|stywrd.pl -e 'sty=Clinical Drug & srcfamily=HCPCS02'||C|O|L|

meddev|for relating devices to SCDs|stywrd.pl -e 'sty=Medical Device & srcfamily=VANDF01'||N|O|N| 

nddfmeddev|for relating devices to SCDs|stywrd.pl -e 'sty=Medical Device & srcfamily=NDDF01'||N|O|N|

mmslmeddev|for related devices to SCDs|stywrd.pl -e 'sty=Medical Device & srcfamily=MMSL01'||N|O|N|

chem_structure|STY of chemically viewed structurally|stywrd.pl -e 'sty=Chemical Viewed Structurally'|||A|N|

chem_function|Sty of Chemical Viewed Functionally|stywrd.pl -e 'sty=Chemical Viewed Functionally'|||A|N|

organ_inorgan|STYs of inorganic and children of organic|stywrd.pl -e 'sty=Inorganic Chemical & sty=Organic Chemical*'|||A|N|

release|Extended release drugs|stywrd.pl -e 'sty=Clinical Drug & normword=release & src=NLM02 & tty=SBD'|||A|N|

#stuff_for_Stuart|word "sulfamethoxazole and STY of |stywrd.pl -e 'sty=Clinical Drug & (word=trimethoprim|word!=sulfamethoxazole)'|||A|N| 

#chemical_sty|STY of Chemical|stywrd.pl -e 'sty=Chemical'|||A|N|

substance_sty|STY of Substance|stywrd.pl -e 'sty=Substance'|||A|N|

infusion|STY needs to be changed to clin drug|stywrd.pl -e 'sty!=Clinical Drug & (word=infusion) &srcfamily=RCD99'||M|A|

#ribonucleic|word "ribonucleic" but not STY|stywrd.pl -e 'sty= & normword=ribonucleic'||C|A|N|
nlm01rel|Potential REL/RELAs identified by a variety of algorithms - NLM project 1|nlm01rel.generator.pl||M|A|G

#SCT_missyn|Missed synonymies in SNOMEDCT discovered by string normalization|FILE:/d3/rpts/05/missyn.txt

#SCT_dist_hier|SNOMED concepts from different hierarchies with same PT that are not merged|FILE:/d3/rpts/05/dist_hier.txt
 
#SCT_mergcon|SNOMED concepts from the same hierarchy that are merged|FILE:/d3/rpts/05/MergConBin.txt

#SCT_splitFNPT|SNOMED FN and PT atoms that are split into separate concepts|FILE:/d3/rpts/05/SplitFNPTBin.txt

#SCT_splitFNSY|SNOMED FN and SY atoms that are split into separate concepts|FILE:/d3/rpts/05/SplitFNSYBin.txt

SCT_merghier|Merged SNOMED hierarchies - excluding known permitted combinations|generic_select.pl -q /d3/rpts/06/newMergHier_bin.sql||M|A|

MSH_NoRel_SCT|Mesh concepts with no relationships to SNOMED concepts|FILE:/d3/rpts/05/MSH.txt

SCT_ProdSub|SNOMED product and substance with same name not merged|generic_select.pl -p -q /d3/rpts/06/newProdSub_bin.sql||M|A|

SCT_FindDis|SNOMED finding or disorder and morp-abn or obs-ent with same name not merged|generic_select.pl -p -q /d3/rpts/06/newFindDisMorObs_bin.sql||M|A|

SCT_QvCDC|SNOMED qual-val or cont-dep-cat and anything with same name not merged|generic_select.pl -p -q /d3/rpts/06/newQvCdc_bin.sql||M|A|
msh_foreign_sep|Foreign MeSH atoms separated from English counterparts|msh_foreign_sep.pl||M|A
# These are CUI bins - don't change
deadcui01|Mapping CUIs that died after 2001AA|cuimap.generator.pl -v 2001AA||M|A|N|cui
deadcui00|Mapping CUIs that died after 2000AA|cuimap.generator.pl -v 2000AA||M|A|N|cui
deadcui99|Mapping CUIs that died after 1999AA|cuimap.generator.pl -v 1999AA||M|A|N|cui
deadcui98|Mapping CUIs that died after 1998AA|cuimap.generator.pl -v 1998AA||M|A|N|cui
deadcui97|Mapping CUIs that died after 1997AA|cuimap.generator.pl -v 1997AA||M|A|N|cui
deadcui96|Mapping CUIs that died after 1996AA|cuimap.generator.pl -v 1996AA||M|A|N|cui
deadcui95|Mapping CUIs that died after 1995AA|cuimap.generator.pl -v 1995AA||M|A|N|cui
deadcui94|Mapping CUIs that died after 1994AA|cuimap.generator.pl -v 1994AA||M|A|N|cui
deadcui93|Mapping CUIs that died after 1993AA|cuimap.generator.pl -v 1993AA||M|A|N|cui
deadcui92|Mapping CUIs that died after 1992AA|cuimap.generator.pl -v 1992AA||M|A|N|cui
deadcui91|Mapping CUIs that died after 1991AA|cuimap.generator.pl -v 1991AA||M|A|N|cui
