# Configuration for ME bins
# suresh@nlm.nih.gov 01/2000

# Fields are:
# ME Bin|Editable|Description|generator_script|order_script|
#   contents|chem_algo

# ME Bin: the name of bin, e.g., demotions, badsty, etc.
# editable: Y if this is contents are editable, N otherwise
# Description: a short description for the bin
# generator_script: the name of the script that generates concept clusters for this bin
# order_script: path to script that orders clusters in the bin
# contents: Contents of bin are chemicals (C), non-chemicals (N) or both (M).
# chem_algo: All concepts in a cluster are chemicals (A, default), one or more (O)

# Bin order is as specified in this file

#--------------- DO NOT CHANGE THESE --------------
testconcepts|N|Concepts used for testing|gen_testconcepts.pl||M
demotions|Y|Demotions|gen_dem.pl|order_dem.pl|M|O|
embryos|N|Contains embryo concepts|gen_embryo.pl||M
norelease|N|Concepts with all atoms having tobereleased in ('N', 'n')|gen_norelease.pl||M
noreview|N|Concepts with status U that will not be reviewed|gen_noreview.pl||C
reviewed|N|Concepts with status=R that have been reviewed|gen_reviewed.pl||M
#--------------------------------------------------











# SNOMED BINS - MOVE AS A GROUP!! --Suresh
#snomedct_cxt|Y|SCT context-dependent categories|gen_order_id.pl -s SNOMEDCT -F 1000010 -T 1014247|order_order_id.pl -s SNOMEDCT|N|
#snomedct_attr|Y|SCT attributes|gen_order_id.pl -s SNOMEDCT -F 1014248 -T 1016338|order_order_id.pl -s SNOMEDCT|N|
#snomedct_find|Y|SCT findings|gen_order_id.pl -s SNOMEDCT -F 1016339 -T 1113410|order_order_id.pl -s SNOMEDCT|N|
#snomedct_stag|Y|SCT staging and scales|gen_order_id.pl -s SNOMEDCT -F 1113411 -T 1116400|order_order_id.pl -s SNOMEDCT|N|
#snomedct_org|Y|SCT organisms|gen_order_id.pl -s SNOMEDCT -F 1116401 -T 1182705|order_order_id.pl -s SNOMEDCT|N|
#snomedct_obj|Y|SCT physical objects|gen_order_id.pl -s SNOMEDCT -F 1182706 -T 1192017|order_order_id.pl -s SNOMEDCT|N|
#snomedct_evt|Y|SCT events|gen_order_id.pl -s SNOMEDCT -F 1192018 -T 1192199|order_order_id.pl -s SNOMEDCT|N|
#snomedct_geo|Y|SCT environments and geographic locations|gen_order_id.pl -s SNOMEDCT -F 1192200 -T 1195851|order_order_id.pl -s SNOMEDCT|N|
#snomedct_qual|Y|SCT qualifier values|gen_order_id.pl -s SNOMEDCT -F 1195852 -T 1215048|order_order_id.pl -s SNOMEDCT|N|
#snomedct_obsv|Y|SCT observable entities|gen_order_id.pl -s SNOMEDCT -F 1215049 -T 1234225|order_order_id.pl -s SNOMEDCT|N|
#snomedct_phys|Y|SCT physical force|gen_order_id.pl -s SNOMEDCT -F 1234226 -T 1234739|order_order_id.pl -s SNOMEDCT|N|
#snomedct_dis|Y|SCT diseases|gen_order_id.pl -s SNOMEDCT -F 1234740 -T 1428910|order_order_id.pl -s SNOMEDCT|N|
#snomedct_subs|Y|SCT substances|gen_order_id.pl -s SNOMEDCT -F 1428911 -T 1492848|order_order_id.pl -s SNOMEDCT|C|
#snomedct_spec|Y|SCT specimens|gen_order_id.pl -s SNOMEDCT -F 1492849 -T 1495187|order_order_id.pl -s SNOMEDCT|N|
#snomedct_proc|Y|SCT procedures|gen_order_id.pl -s SNOMEDCT -F 1495188 -T 1627429|order_order_id.pl -s SNOMEDCT|N|
#snomedct_soc|Y|SCT social contexts|gen_order_id.pl -s SNOMEDCT -F 1627430 -T 1638409|order_order_id.pl -s SNOMEDCT|N|
#snomedct_body|Y|SCT body structure|gen_order_id.pl -s SNOMEDCT -F 1638410 -T 1732138|order_order_id.pl -s SNOMEDCT|N|
#snomedct_spcl|Y|SCT special concepts|gen_order_id.pl -s SNOMEDCT -F 1732139 -T 1891707|order_order_id.pl -s SNOMEDCT|N|
#snomedct_vets|Y|SCT veterinary proprietary drug and/or biologicals|gen_order_id.pl -s SNOMEDCT -F 1938304 -T 1945941|order_order_id.pl -s SNOMEDCT|C|
#snomedct_pharm|Y|SCT pharmaceutical/biologic products|gen_order_id.pl -s SNOMEDCT -F 1891708 -T 1947542|order_order_id.pl -s SNOMEDCT|C|
snomedct_left|Y|SCT leftover concepts|gen_source.pl -R SNOMEDCT|order_order_id.pl -s SNOMEDCT|M|



alt2005|Y|Altlink 2004|gen_source.pl -s ALT2005|order_alpha.pl -s ALT2005|M|O|





#msh|Y|MeSH|gen_source.pl -s MSH2005_2005_01_17|order_mesh.pl|M|A|

#lnc214|Y|Loinc|gen_source.pl -s LNC214|order_alpha.pl -s LNC214|M|O|



#HHC|Y|HHC 2003|gen_source.pl -s HHC2003|order_alpha.pl -s HHC2003|M|O|

#PDQ2004|Y|NCI Physician's Data Query|gen_source.pl -s PDQ2004|order_code.pl -s PDQ2004|M|0|

#GO|Y|Gene Ontology|gen_source.pl -s GO2004_12_20|order_code.pl -s GO2004_12_20|M|A|








#nddf|Y|drugs|gen_source.pl -s NDDF_2004_12_22|order_alpha.pl -s NDDF_2004_12_22|M|A|

#ndfrt|Y|VANDFRT|gen_source.pl -s NDFRT_2004_01|order_alpha.pl -s NDFRT_2004_01|M|A|


#nci2004|Y|NCI Thesaurus|gen_source.pl -s NCI2004_11_17|order_code.pl -s NCI2004_11_17|M|0|



#MTHFDA|Y|FDA drugs|gen_source.pl -s MTHFDA_2004_01|order_code.pl -s MTHFDA_2004_01|M|A|

#NCI2004|Y|NCI Thesaurus|gen_source.pl -s NCI2004|order_code.pl -s NCI2004|M|0|

#NDFRT|Y|VART drug|gen_source.pl -s NDFRT_2004_01|order_alpha.pl -s NDFRT_2004_01|M|A|


#HUGO|Y|hugo|gen_source.pl -s HUGO_2004_04|order_alpha.pl -s HUGO_2004_04|












#ICPC2ICD10|Y|ICPC2-ICD10|gen_source.pl -s ICPC2ICD10ENG_200412|order_code.pl -s ICPC2ICD10ENG_200412|M|A|





#CSP2004|Y|CRISP Thesaurus|gen_source.pl -s CSP2004|order_code.pl -s CSP2004|M|A|

#hl7|Y|drug forms|gen_source.pl -s HL7_1998-2002|order_code.pl -s HL7_1998-2002 |M|A|

#msh2005|Y|MeSH2005|gen_source.pl -s MSH2005_2004_08_06|order_alpha.pl -s MSH2005_2004_08_06|M|A|

#MEDLINEPLUS|Y|MEDLINEPLUS_20040814|gen_source.pl -s MEDLINEPLUS_20040814|order_alpha.pl -s MEDLINEPLUS_20040814|M|A|

#ICD9|Y|ICD9CM_2005|gen_source.pl -s ICD9CM_2005|order_alpha.pl -s ICD9CM_2005|M|A|

#HCPCS04|Y|HCPCS 2004|gen_source.pl -s HCPCS04,HCPT04,HCDT4,CDT4,MTHHH04|order_code.pl -s HCPCS04|M|A|

#CPT2004|Y|CPT 2004|gen_source.pl -s CPT2004,MTHCH04|order_code.pl -s CPT2004|M|A| 

#go2002|Y|Gene Ontology|gen_source.pl -s GO2002_09_01|order_code.pl -s GO2002_09_01|M|A|

#CPM2003|Y|CPM 2003|gen_source.pl -s CPM2003|order_treenum.pl -s CPM2003 -t /d3/rpts/04/worklist.sortkey.CPM2003|M|A|




#NCBI2004_09_30|Y|NCBI Taxonomy|gen_source.pl -s NCBI2004_09_30|order_alpha.pl -s NCBI2004_09_30|M|A| 


#umdns|Y|medical device|gen_source.pl -s UMD2005|order_code.pl -s UMD2005|M|A|

#spn2003|Y|medical devices|gen_source.pl -s SPN2003|order_code.pl -s SPN2003|M|A|

#nci2001|Y|NCI Thesaurus, Bethesda, MD|gen_source.pl -s NCI2001|order_treenum.pl -s NCI2001 -t /d3/rpts/00/worklist.sortkey.nci2001|M|

mdr80|Y|Medical Dictionary for Regulatory Activities Terminology|gen_source.pl -s MDR80,MDRAE80,MDREA80,MDREX80|order_alpha.pl -s MDR80|N|A| 

#PSY2001|Y|PsycInfo (Thesaurus of Psychological Index Terms 9th edition)|gen_source.pl -s PSY2001|order_treenum.pl -s PSY2001 -t /d3/rpts/02/worklist.sortkey.psy2001|M|O| 

#UWDA173|Y|UWDA 1.7.3|gen_source.pl -s UWDA173|order_treenum.pl -s UWDA173 -t /d3/rpts/04/worklist.sortkey.uwda173|M|

#CCS2003|Y|CCS 2003|gen_source.pl -s CCS2003|order_alpha.pl -s CCS2003|M|

#NCBI2003|Y|NCBI Taxonomy|gen_source.pl -s NCBI2003|order_order_id.pl -s NCBI|M|A|
#PDQ2001|Y|NCI Physician's Data Query|gen_source.pl -s PDQ2001|order_treenum.pl -s PDQ2001 -t /d3/rpts/02/worklist.sortkey.PDQ2001|M|0|

#cpt2002|Y|Current Proc Term 2002|gen_source.pl -s CPT2002,MTHCH02|order_code.pl -s CPT2002|M|


#umd2002|Y|Umdns|gen_source.pl -s UMD2002|order_alpha.pl -s UMD2002|M|


#mmx01|Y|Micromedix DRUGDEX|gen_source.pl -s MMX01|order_alpha.pl -s MMX01 -t /d3/rpts/01/workist_sortkey.MMX01|M|O|



#MMSL_2004_03|Y|Multum|gen_source.pl -s MMSL_2004_03|order_alpha.pl -s MMSL_2004_03|M|O|



#nddf01|Y|National Drug Data File. First Databank|gen_source.pl -s NDDF01|order_alpha.pl -s NDDF01 -t /d3/rpts/02/worklist_sortkey.NDDF01|M|O|

#mst2001|Y|Minimal Standard Terminology Digestive Endoscopy|gen_source.pl -s MST2001,MTHMST2001|order_alpha.pl -s MST2001,MTHMST2001 |N|

#mddb03|Y|MDDB|gen_source.pl -s MDDB_2003_03|order_alpha.pl -s MDDB_2003_03|M|O|

#FDA|Y|FDA|gen_source.pl -s MTHFDA_2003_01|order_alpha.pl -s MTHFDA_2003_01|M|A|

#nlm02|Y|NLM02|gen_source.pl -s NLM02|order_alpha.pl -s NLM02|M|O|


#rxnorm|Y|RXNORM2005AB|gen_source.pl -s RXNORM2005AB|order_alpha.pl -s RXNORM2005AB|M|O|

#ndfrt|Y|NDFRT|gen_source.pl -s NDFRT_2004_01|order_alpha.pl -s NDFRT_2004_01|M|A|




#--------------- DO NOT CHANGE THIS ---------------
leftovers|Y|Unclassified concepts|gen_leftovers.pl||M
#--------------------------------------------------
