# Configuration for QA bins
# suresh@nlm.nih.gov 03/2000

# Fields are:
# QA Bin|Description|generator_script|contents|chem_algo

# QA Bin: the name of bin, e.g., nosty, etc
# Description: a short description for the bin
# generator_script: the name of the script that generates ordered
#    concept clusters for this bin.  If the name starts with
#    MEME_INTEGRITY_PROC. then it is assumed to be a PL/SQL function.
# contents: chemicals (C), non-chemicals (N), mixed (M)
# chem_algo: All concepts in a cluster are chemicals (A, default), one or more (O)





#Snomed Demotions

#bodydems|Snomed body part demotions|demotions_by_sty.pl -s 23|N||


#labdems|Snomed lab proc demotions|demotions_by_sty.pl -s 59|N||


#bactdems|Snomed bacteria demotions|demotions_by_sty.pl -s 7 |N||

#intprod|Snomed inteleectual product demotions|demotions_by_sty.pl -s 170|N||

#Dems|Snomed demotions|demotions_by_sty.pl -s 61|N||

#genes|Snomed gene demotions|demotions_by_sty.pl -s 28|N||

#medDevi|snomed medical device demotions|demotions_by_sty.pl -s 74|N||
#virdems|Snomed virus demotions|demotions_by_sty.pl -s 5 |N||


#mamdems|Snomed mammal demotions|demotions_by_sty.pl -s 15|N||



fdaworxnorm|FDA clinical drugs w/o rxnorm rels|rxnormqa.pl -q 26|C|A|


#vandftrd|VANDF01 clinical drugs with TRD lexical tags but no NLM02/SBD atoms|vandftrd.pl|M|A|

ambig_no_pn|Ambiguous concepts where at least one has no PN (sepstring)|MEME_INTEGRITY_PROC.ambig_no_pn|M|O|


nosty|no sty for a source|nosty.pl -s SNOMEDCT_2005_01_31|N|A|

multsty|concepts with more than 3 STYs|multsty.pl|M|A|


sct_sepfnpt|SNOMED concept clusters where the FN and PT terms are separated|generic_select.pl -p -q /d3/rpts/06/SplitFNPTBin.sql|M|A|



#chnddfworxnorm|NDDF clinical drugs w/o rxnorm rels|rxnormqa.pl -q 25|C|A|

scd_difflui|SCDs with different LUIs|MEME_INTEGRITY_PROC.scd_difflui|M|A

infruni2|SCD/SBD concepts w/ infrequent units|rxnormqa.pl -q 1|C|A|

chincompscd|CDs w incomplete SCDs|rxnormqa.pl -q 3|C|A|

chingred_split|Ingredients split with potential wrong rels|rxnormqa.pl -q 4|C|A|

chsolution|solutions expressed as mg instead of mg/ml|rxnormqa.pl -q 2|C|A|


chnewingred|NLM02 ingredients|rxnormqa.pl -q 5|C|A|

chnonzero_ingred|Ingredients with no level 0 source|rxnormqa.pl -q 6|C|A|

scdinlt|scd concepts w/ one ingredient trd|rxnormqa.pl -q 7|C|A|

intrdlt|ingredient concepts with trd tags connected to SCD|rxnormqa.pl -q 8|C|A|

nonclindr|SCD, SBD, or SCD w/out Clinical drug sty|rxnormqa.pl -q 10|C|A|

inwooutpharm|ingredients w/out Pharm Substance|rxnormqa.pl -q 13|C|A|

formofing|ingredients that are form of to other ingredients|rxnormqa.pl -q 9|C|A|

diffdosform|SCD/SBD w/ same component but different dose form|rxnormqa.pl -q 11 |C|A|

chillegdosform|SCD/SBD w/ illegal dose forms|rxnormqa.pl -q 20|C|A|

rxnormstathchem|concepts with rxnorm status H|rxnormqa.pl -q 19|C|A|

rxnormstatuchem|concepts with rxnorm status U|rxnormqa.pl -q 18|C|A|

DDDworel|Drug Delivery Devices not related to a SCD or SBD|rxnormqa.pl -q 17|C|A|

chCDwoform|Clinical Drugs w/out RXnorm form|rxnormqa.pl -q 16|C|A|

solidml|Scd & SBD concepts with solid dose form expressed as ml|rxnormqa.pl -q 15|C|A|


MMSLwo|MMSL w/out RXNOrm form|rxnormqa.pl -q 22|C|A|
#NDF_merges|Check VANDF merges|FILE:/d3/rpts/02/VANDF01_merges.dat|M|A|

#NCBI_merges|Check NCBI merges|TABLE:NCBI2001_merges|M|A|

mxsuppr|Concepts with identical LUI atoms that have mixed suppressibility|MEME_INTEGRITY_PROC.mxsuppr|M|A
checksrc|Concepts with SRC atoms and other releasable atoms must be approved|checksrc.generator.pl|N|A
true_orphan|Concepts with no releaseable relationships to any other concept|MEME_INTEGRITY_PROC.true_orphan|M|A
nec|Concepts with multiple, incompatible NEC atoms|nec.pl|M|A
mthu|Concepts with U status, releasable MTH atoms should be set to R or unreleased|MEME_INTEGRITY_PROC.mthu|C|A
#trdmerge|A TRD atom is merged with another non-TRD atom, different LUI|trdmerge.generator.pl|M|A
obsolete_nec|Obsolete NEC PNs with SAB|MEME_INTEGRITY_PROC.obsolete_nec_pns|M|A
 
# CUIs on deathrow

deleted_cui_uwda|CUIs that are going away not including UWDA, will need bequealthal rel|MEME_INTEGRITY_PROC.deleted_cui_uwda|M|A

deleted_cui|CUIs that are going away - will need bequeathal rel|MEME_INTEGRITY_PROC.deleted_cui|M|A

deleted_cui_split|Complex split/merge case CUIs that are going away - will need bequeathal rel|MEME_INTEGRITY_PROC.deleted_cui_split|M|A

# MeSH
msh_mrg|Different MSH codes merged in a concept|MEME_INTEGRITY_PROC.msh_mrg|M|A
msh_d_orphan|Identical MeSH D codes spanning concepts with no rel|MEME_INTEGRITY_PROC.msh_d_orphan|N|A
msh_q_orphan|Identical MeSH Q codes spanning concepts with no rel|MEME_INTEGRITY_PROC.msh_q_orphan|N|A
msh_c_orphan|Identical MeSH C codes spanning concepts with no rel|MEME_INTEGRITY_PROC.msh_c_orphan|C|A
msh_sep|Separated MeSH MHs, SHs, or NMs across MeSH versions|MEME_INTEGRITY_PROC.msh_sep|M|A
msh_n1|Separated MeSH N1 synonyms|MEME_INTEGRITY_PROC.msh_n1|C|A
xr_msh_d_orphan|MeSH D orphan as result of an XR|MEME_INTEGRITY_PROC.xr_msh_d_orphan|N|A
xr_msh_q_orphan|MeSH Q orphan as result of an XR|MEME_INTEGRITY_PROC.xr_msh_q_orphan|N|A
xr_msh_c_orphan|MeSH C orphan as result of an XR|MEME_INTEGRITY_PROC.xr_msh_c_orphan|N|A
msh_mui_merge|Concepts that participated in MUI merges|MEME_INTEGRITY_PROC.msh_mui_merge|M|A
msh_mui_split|Concepts that participated in MUI splits|MEME_INTEGRITY_PROC.msh_mui_split|M|A

#
rcd_mrg|Different Read codes merged in a concept|MEME_INTEGRITY_PROC.rcd_mrg|M|A
rcd_sep|Separated Read PTs, OPs, or ATs across RCD versions|MEME_INTEGRITY_PROC.rcd_sep|M|A


snm_mrg|Multiple SNMI codes merged in a concept|MEME_INTEGRITY_PROC.snm_mrg|M|A

snmct_legacy|legacy codes in separate concept then PT|snmct_legacy.pl|M|A|

snmct_multipleorganiisms|concepts that contain more then once snomed (organism)|snmct_multorg.pl|M|A|

#
#pdq_orph|Same code ET's without a rel to their PT|MEME_INTEGRITY_PROC.pdq_orph|M|A

#
#umd_mrg|Multiple UMD codes merged in a concept|MEME_INTEGRITY_PROC.umd_mrg|N|A
#umd_orph|Identical UMD codes spanning concepts|MEME_INTEGRITY_PROC.umd_orph|N|A

#
hcpcs_mrg|Different HCPCS/CPT codes merged in a concept|MEME_INTEGRITY_PROC.hcpcs_mrg|N|A

#
cpt_split|Identical CPT/HCPCS codes in different concepts|MEME_INTEGRITY_PROC.cpt_split|N|A
cpt_orph|CPT PT and AB in different concepts|MEME_INTEGRITY_PROC.cpt_orph|N|A

#
lnc_sep|Separated LOINC PTs, OPs, or ATs across LOINC versions|MEME_INTEGRITY_PROC.lnc_sep|M|A

# STY related QA
missing_sty|Reviewed concepts without releasable Semantic Types|MEME_INTEGRITY_PROC.missing_sty|M|A
styisa|One STY is an ancestor of another in the STY isa hierarchy|styisa.generator.pl|M|A
icdproc|ICD 2 digit codes must not have any non-procedure STY|icdproc.generator.pl|N|A
stydrug|STY 'Clinical Drug' should not co-occur any other STY except 'Medical Device'|stydrug.generator.pl|N|A
#styxmp|Verify that the SRDEF examples are valid; Check log file for report|styxmp.pl -e /d3/rpts/99/styxmp.input|N|A|
bad_nh|Non-Human (NH) flag without valid STY|bad_nh.generator.pl|N|A|

# Multimeaning related QA
mthdt_nomm|MTH/DT terms without MTH/MM|MEME_INTEGRITY_PROC.mthdt_nomm|N|A
mm_misalign|Clusters with identical string, one with bracket term, the other without|MEME_INTEGRITY_PROC.mm_misalign|N|A
#ambig_no_pn|Ambiguous concepts where at least one has no PN (sepstring)|MEME_INTEGRITY_PROC.ambig_no_pn|M|A
pure_u_ambig_no_pn|ambig_no_pn for pure-U concepts|MEME_INTEGRITY_PROC.pure_u_ambig_no_pn|C|A
ambig_no_rel|Ambiguous concepts where at least one pair lacks an approved REL|MEME_INTEGRITY_PROC.ambig_no_rel|M|A
pn_pn_ambig|Identical (same SUI) PN's in multiple concepts|MEME_INTEGRITY_PROC.pn_pn_ambig|N|A
multiple_mm|Concepts with multiple bracket MM terms|MEME_INTEGRITY_PROC.multiple_mm|M|A
multiple_pn|Concepts with multiple MTH/PN atoms|MEME_INTEGRITY_PROC.multiple_pn|M|A

#msh_et_synonym|Potential Entry Term Synonmy - MeSH MH with same relationship different ET concepts|MEME_INTEGRITY_PROC.msh_et_synonym|N|A
sfo_lfo|Short form in one concept, long form in another|MEME_INTEGRITY_PROC.sfo_lfo|N|A
separated_pm|A permuted MeSH term (PM) is in a different concept from its matching main or entry term|MEME_INTEGRITY_PROC.separated_pm|N|A
pn_no_ambig|Concept has MTH/PN atom but no ambiguous string|MEME_INTEGRITY_PROC.pn_no_ambig|M|A
ambig_pn|MTH/PN atom is ambiguous but has no matching ambiguous string|MEME_INTEGRITY_PROC.ambig_pn|M|A

# MTH
approved_tm|MTH/TM atoms in approved concepts|MEME_INTEGRITY_PROC.approved_tm|M|A
merged_tm|Multiple MTH/TM atoms in a concept|MEME_INTEGRITY_PROC.merged_tm|M|A

#additional rxnorm QA
rxnormstathuhch|concepts with rxnorm status H and H|rxnormqa.pl -q 27|C|A|

chsuivar|sui variants|rxnormqa.pl -q 28|C|A|



chrcdwoform|rcd w/out rxnorm forms|rxnormqa.pl -q 30|C|A|



chnormnocd|normal form but no clinical drug atoms|rxnormqa.pl -q 31|C|A|

chobsolete|concepts w/ normal forms containing the word obsolete|rxnormqa.pl -q 32|C|A|


rxnorm33|Concepts with branded ingredients in the same concept as as other non-branded-ingredient rxnorm atoms|rxnormqa.pl -q 33|C|A|

rxnorm34|Component merges-concepts containing component atsoms with different case-insesnsitive strings|rxnormqa.pl -q 34|C|A|

rxnorm35|Component splits - concepts containing component atoms with the same case-insensitive string as a component atom in a different concept|rxnormqa.pl -q 35|C|A|

rxnorm36|Concepts with ingredients in the same concept as other non-ingredient rxnorm atoms|rxnormqa.pl -q 36|C|A|


precise|concepts expressed in terms of t heir precise ingredients|rxnormqa.pl -q 37|C|A|



rxnorm41|snmed ingredients w/out PNs|rxnormqa.pl -q 41|C|A|

chrxnorm42|Snmed CT Clinical drugs w/out rxnorm form except vet stuff|rxnormqa.pl -q 42|C|A|

rxrnom43|Snmed CT Vet drugs w/out rxnorm form|rxnormqa.pl -q 43|C|A|

chrxnorm45|Status u w/ SCDs|rxnormqa.pl -q 45|C|A|

chrxnorm46|status h w/ SCDs|rxnormqa.pl -q 46|C|A|


# Source related Q/A
source_diff|Differences between the MID and the last release for source and termgroups - See info file|source_diff.pl -v 2000|N|O


